# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# venv
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Results/artifacts
results/
models/*.engine
models/*.plan

# Env
.env