# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/*
build/*

# venv
.venv/*

# VS Code
.vscode/*

# OS
.DS_Store
Thumbs.db

# Results/artifacts
results/*
models/*.engine
models/*.plan
runs/*

# Env
.env

# assets
assets/*
dataset_kaggle_test/*
external_data/*
dataset/*